/* comic-nav logics */
.comic-nav {
    /* background: rgba(0,0,0,0.7); */
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    padding-top: 10px;
    z-index: 2;
    /*transform: translateX(25%);*/
}

.comic-page-wrapper {
    /* wrapper is required to let extended contents (comic-page-area) to always be there*/
    /* wrapper is here to help hide extended contents */
    overflow: hidden;
    white-space: nowrap;
}

.comic-page-area {
    width: 24rem;
    transition: all 300ms ease-out;
}

/* comic-button logics */
.comic-nav .comic-button {
    position: absolute;
    z-index: 2;
    padding: 0;
    height: 45px;
    width: 45px;
    transform: translateY(80%);
    border-radius: 50%;
    border: none;
    font-size: 2em;
    line-height: 0.8em;
    background-color: rgba(177, 177, 177, 0.5);
    color: rgba(255, 255, 255, 0.4);
    transition: 150ms linear;
}

.comic-button.comic-button--left{
    left: 20vw;
}

.comic-button.comic-button--right{
    right: 20vw;
}

.comic-button:hover {
    background-color: rgba(120, 204, 243, 0.8);
    color: rgba(255, 255, 255);
    cursor: pointer;
}

.comic-thumbnail {
    position: relative;
    height: 120px;
    width: auto;
    margin: 0px 6px;
    opacity: 0.6;
}

.comic-thumbnail.current-page{
    opacity: 1;
}

.comic-thumbnail:hover {
    opacity: 1;
    transition: 200ms linear;
}

/* backdrop logic */
.comic-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 2;
}

.comic-backdrop-button {
    position: absolute;
    top: 0;
    left: 0.5rem;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: none;
    font-size: 2em;
    line-height: 0.8em;
    background-color: rgba(0,0,0,0);
    color: rgb(255, 255, 255);
    z-index: 3;
}

/* comic-track logic */
.comic-track {
    padding-top: 120px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.comic-track li {
    max-height: 70%;
    max-width: 100%;
}

.comic-track img{
    display: block;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 80vh;
    margin: 20px auto;
    box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
    animation: fadeIn 300ms;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@media screen and (max-width: 860px) {
    .comic-track {
        display: none;
    }

    .comic-button {
        display: none;
    }

    .comic-nav {
        /* background: rgba(0,0,0,0.7); */
        display: flex;
        justify-content: center;
        z-index: 2;
        /*transform: translateX(25%);*/
    }

    .comic-page-wrapper {
        /* wrapper is required to let extended contents (comic-page-area) to always be there*/
        /* wrapper is here to help hide extended contents */
        overflow-x: scroll;
        padding-top: 6vh;
        white-space: nowrap;
    }

    .comic-page-area {
        width: 90vw;
        height: 85vh;
    }

    .comic-thumbnail {
        position: relative;
        margin: 0px 6px;
        opacity: 1;
        max-height: 100%;
        width: auto;
        height: 87vh;
    }
}
