.img-grid {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5, 3fr);
    grid-gap: 5px;
    align-content: start;
    grid-auto-flow: dense;
    flex-wrap: wrap;
}
/*     padding controls height, will always be perfectly square regardless of width
.img-wrap {
    overflow: hidden;
    padding: 60% 0;
    position: relative;
    opacity: 0.6;
    border: 1px solid #bfe3dc;
    border-radius: 5px;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
}

.img-wrap > img {
    min-height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
}
*/

.chapter-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: sans-serif;
    font-size: 25.5vw;
    opacity: 0.9
}

.img-wrap {
    position: relative;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
}

.img-wrap:hover {
    transform: translate(-8px, -10px);
    transition: all 200ms linear;
    cursor:pointer;
    opacity: 1;
}

.img-wrap:hover .chapter-overlay{
    opacity: 0;
    transition: 200ms linear;
}

.img-wrap:hover img{
    opacity: 1;
    transition: 200ms linear;
}

.img-wrap > img {
    grid-row: 1 / -1;
    grid-column: 1;
}

.img-grid img {
    max-width:100%;
    display: block;
    border-radius: 10px;
    opacity: 0.6;
    transition: opacity 3s linear;
    -webkit-transition: opacity 3s;
}

.img-grid:empty {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 1.1em solid #59dfb7e0;
    border-left: 1.1em solid #000000;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
}

.img-wrap:empty .chapter-overlay {
    opacity: 0;
}


.loader{
    display: none;
}
  
@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.image-visible {
    opacity: 1;
}
.image-hidden {
    opacity: 0;
}

@media screen and (max-width: 860px) {
    .img-grid {
        margin: 20px auto;
        display: flex;
        grid-template-columns: repeat(5, 3fr);
        grid-gap: 5px;
        align-content: start;
        grid-auto-flow: dense;
        flex-wrap: wrap;
    }
    .img-wrap {
        position: relative;
        margin: 0;
        display: flex;
        grid-template-rows: 1fr auto;
        margin-bottom: 10px;
        break-inside: avoid;
        opacity: 0.6;
    }
    .img-wrap:hover {
        transform: none;
        transition: all 200ms linear;
        cursor:pointer;
    }
    .chapter-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-family: sans-serif;
        font-size: 80vw;
        opacity: 0.9;
    }
    .img-wrap:hover .chapter-overlay{
        opacity: 0;
        transition: 200ms linear;
    }
}