/*
.App {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
\
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
html {
  overflow: hidden;
  background-color:rgb(41, 41, 41);
  color: white;
}

:root{
  --bgcolor: rgb(41, 41, 41);
  --txtcolor: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainPage {
  margin: 0;
  padding: 0;
}


.container {
  --offset: var(--space);
  max-height: 95vh;
  margin: 0px 1rem 1rem 4.5rem;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container h1{
  color: var(--primary);
  font-size: 3.4rem;
  letter-spacing: 2px;
  font-weight: normal;
  color: var(--txtcolor);
  text-align: center;
}
.container h2, .container p{
  text-align: center;
  color: var(--txtcolor);
}
.container h2{
  margin-top: 60px;
  font-size: 2.6rem;
}

p{
  font-size: 1.4rem;
}

/* We do this if we don't want scrollbar, but for mobile i think it's ok */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(92, 92, 92);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 50px;
}

@media screen and (max-width: 860px) {
  .container {
    --offset: var(--space);
    max-height: 95vh;
    margin: 0px 1rem 1rem 1rem;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
  }
}

/*TODO: need to find a way to divide these components into workable individual container then style them IN CONJUNCTION with the sidebar*/
/*TODO: left-margin still irky, not sure how to proplery make it dynamic*/